<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Units</title>
</head>
<body>
    <h1>Business Units</h1>
    <table>
        {% for unit in units %}
            <tr>
                <td>
                    {% if unit.is_completed %}
                    &#x2705;
                    {% endif %}
                </td>
                <td><a href="{% url 'business_unit_detail' unit.uuid %}">{{ unit.identifier }}-{{ unit.description }}</a> ({{unit.camera_count}})</td>
               
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">No business units available.</td>
            </tr>
        {% endfor %}
    </table>
    <div style="height: 200px; width: 200px">{% include 'piechart.html' %}</div>
    
</body>
</html>