{% extends '_timekeeperbase.html' %}

{% block timekeeper_content %}

<div style="display: flex; flex-direction: row;">
    {% for each in projects %}
    <div class="card" style="width: 18rem; margin:5px">
    <div class="card-body">
        <h5 class="card-title">{{ each.project.get_title }}</h5>

        <div class="card-text">
            <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Hours</th>
                  </tr>
                </thead>
                <tbody>
                    {% for entry in each.time_entries %}
                        <tr>
                            <td>{{ entry.start_time|date:"H:i"  }}</td>
                            <td>{{ entry.end_time|date:"H:i" }}</td>
                            <td>{{ entry.get_duration }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>    
{% endfor %}
</div>


{% endblock timekeeper_content %}