{% extends '_base.html' %}

{% block content %}

<div style="display: flex; flex-flow: column nowrap; width: 300px;">
  <div style="margin: 3px">
    <a href="{% url 'camera_manufacturers' %}" class="btn btn-outline-secondary btn-block" role="button">Camera Manufacturers</a>
  </div>
  <div style="margin: 3px">
    <a href="{% url 'projects' %}" class="btn btn-outline-secondary btn-block" role="button">Projects</a>
  </div>
  <div style="margin: 3px">
    <a href="#" class="btn btn-outline-secondary btn-block disabled" role="button" aria-disabled="true">Employee</a>
  </div>
</div>

{% endblock content %}