<form 
    action="{% url 'business_unit_detail' business_unit.uuid %}" 
    method="GET" 
    style="display: inline;">

    {% if order == "asc" %}
    <input 
    type="hidden" 
    name="sort" 
    value=-{{sort_by}}>   
    {% else %}
    <input 
        type="hidden" 
        name="sort" 
        value={{sort_by}}>   
    {% endif %}
        
    <button 
        type="submit" 
        class="btn btn-outline-default pull-right" 
        style="display: inline-flex; align-items: center; justify-content: center; width: 25px; height: 25px;">
        &#x1F783; 
    </button>
    <button 
        type="submit" 
        class="btn btn-outline-default pull-right" 
        style="display: inline-flex; align-items: center; justify-content: center; width: 25px; height: 25px;">
        &#x1F781; 
    </button>
</form>
{{order}}