<form 
    action="{% url 'business_unit_detail' business_unit.uuid %}" 
    method="GET" 
    style="display: inline;">




    {% if order == "asc" %}
    <input 
    type="hidden" 
    name="sort" 
    value=-{{form_value}}>   
    {% else %}
    <input 
        type="hidden" 
        name="sort" 
        value={{form_value}}>   
    {% endif %}
        <button 
            type="submit" 
            class="btn btn-outline-default btn-custom disabled" 
            style="display: block; height: 100%; padding: 0px; outline: none"
            >
           
            <div style="display: flex; flex-direction: column; align-items: center; line-height: 30%; justify-content: space-around">
                {% if sort_by == label %}
                    {% if order == "asc" %}
                        <span>&#x1F781;</span>
                        <span style="color: gray">&#x1F783;</span>
                    {% else %}
                        <span style="color: gray">&#x1F781;</span>
                        <span>&#x1F783;</span>
                    {% endif %}
                {% else %} 
                    <span style="color: gray">&#x1F781;</span>
                    <span style="color: gray">&#x1F783;</span>
                   
                {% endif %}
                
            </div> 
        </button>
  
    
</form>


