{% extends '_base.html' %}

{% block content %}
  <div id="alertMessage" class="alert alert-warning d-flex align-items-center" role="alert" style="display: none !important;">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      Please enter a valid project number
    </div>
  </div>
  <div style="width: 95%; margin: 50px auto">
    
    <form>
      <div class="row" style="width: 100%; margin:auto">
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-2">
              <div class="input-field">
                <label for="startTimeEntry" style="display: none">Start Time</label>
                <input type="time" class="form-control" id="startTimeEntry">
              </div>
              <div class="value-field" style="display:none">
                Start Time: <span id="startTime"></span>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="input-field">
                <input type="text" class="form-control" id="projectnumber" placeholder="Project Number">
              </div>
              <div class="value-field" style="display:none">
                <span id="projectNumber"></span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-field">
                <input type="text" class="form-control" id="projectDescription" placeholder="Description">
              </div>
            </div>
            <div class="col-sm-4">
              <button id="create-button" type="button" class="btn btn-outline-primary input-field">Create</button>
            </div>
            
          </div>

        </div>
        <div class="col-sm-3">
          <div class="card">
          
            <div class="card-body">
              <p class="card-title"><small>Recent Projects</small></p>
              {% for project in recent_projects %}
              <div style="display: flex; justify-content: space-between;">
                <button 
                  type="button" 
                  class="btn btn-block btn-outline-secondary btn-sm recentProjectButton" 
                  value="{{ project.number }}"
                  style="font-size: .7em;">
                  PJT{{ project.number }}
                </button>
                <button 
                  type="button" 
                  class="btn btn-outline-danger btn-sm removeRecentButton" 
                  data-bs-toggle="tooltip" 
                  data-bs-placement="right" 
                  title="Remove from list"
                  style="font-size: 8px; margin: 2px"
                  disabled>
                  &#10005;
                </button>
              </div>
              {% endfor %}
           
            </div>
          </div>
        </div>

      </div>



    

      <div class="row" style="width: 100%; margin:auto">
    
        <div id="" class="form-group col-12 col-sm-1">
          <button id="create-button" type="button" class="btn btn-outline-primary" >Create </button>
        </div>
       
      </div>

      <div class="row" style="width: 100%; margin:auto">
        
      </div>
    </form>
      
      

      <h5>PJT10304: Example Description</h5>
      
        <div class="row form-group">
          <div class="col-12 col-sm-6">
            <input type="text" class="form-control" id="taskdescription" placeholder="Task Description">
          </div>
          <div class="col-12 col-sm-3">
            <button id="" type="button" class="btn btn-outline-primary" >Save</button>
          </div>
         
        </div>
      
      
      <ul>
        <li>Subtask 3 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
        </svg></li>
        <li>Subtask 2</li>
        <li>Subtask 1</li>
      </ul>
      

      <button id="" type="button" class="btn btn-outline-primary" >Finish</button>
      
 
   
</div>
<script>
    const CSRF_TOKEN = '{{ csrf_token }}';
    function updateTime() {
      const now = new Date();
      
      // Format the time as HH:MM
      const hours = String(now.getHours()).padStart(2, '0');     
      const minutes = String(now.getMinutes()).padStart(2, '0');
      currentTime = `${hours}:${minutes}`;
       // Set the value of the input field
      document.getElementById('startTimeEntry').value = currentTime;
    }

    function toggleFieldDisplay(className, display) {
      const inputFields = document.getElementsByClassName(className)
      for (let i=0; i<inputFields.length; i++) {
        inputFields[i].style.display = display
      }
    }
    
   
    window.onload = updateTime()
    setInterval(updateTime, 1000);

    function convertTimeToDateTime(timeString) {
      // Get the current date
      const currentDate = new Date();
      
      // Extract the current year, month, and day
      const year = currentDate.getFullYear();
      const month = String(currentDate.getMonth() + 1).padStart(2, '0'); // Month is 0-indexed, so add 1
      const day = String(currentDate.getDate()).padStart(2, '0');

      // The time part (e.g., "15:32")
      const timeParts = timeString.split(':');
      const hour = timeParts[0];
      const minute = timeParts[1];

      // Combine current date with the given time
      const dateTimeString = `${year}-${month}-${day} ${hour}:${minute}`;

      return dateTimeString;
    }

    recentProjectButtons = document.getElementsByClassName("recentProjectButton")

    for (let i=0; i<recentProjectButtons.length; i++) {
      recentProjectButtons[i].addEventListener("click", populateProjectNumber)
    }

    function populateProjectNumber(e){
      document.getElementById('projectnumber').value = "PJT" + e.target.value
    }

    document.getElementById('projectnumber').addEventListener("change", hideAlert)

    function hideAlert() {
      toggleElementDisplay("alertMessage", "none !important")
    }

    function isSixDigitNumber(projectNumber) {
      // Check if projectNumber is a string that represents exactly 6 digits
      return /^\d{6}$/.test(projectNumber);
    }

    function toggleElementDisplay(id, display) {
      document.getElementById(id).style.display = display
    }


    document.getElementById('create-button').addEventListener('click', function() {
            const startTime = document.getElementById('startTimeEntry').value;
            const projectNumber = document.getElementById('projectnumber').value;
            if (isSixDigitNumber(projectNumber.substring(3))) {
              const taskDescription = "";
              const data = {
                  start_time: convertTimeToDateTime(startTime),
                  project_number: projectNumber,
                  task_description: taskDescription
              };

              fetch('/create-time-entry/', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',
                      'X-CSRFToken': CSRF_TOKEN,  // Include CSRF token if CSRF protection is enabled
                  },
                  body: JSON.stringify(data),
              })
              .then(response => response.json())
              .then(data => {
                  if (data.message) {

                      document.getElementById("projectNumber").innerText = "PJT" + data.projectNumber
                      document.getElementById('startTime').innerText = data.startTime
                      toggleFieldDisplay("input-field", "none")
                      toggleFieldDisplay("value-field", "")
                  } else if (data.error) {
                      alert('Error: ' + data.error);  // Show error message
                  }
              })
              .catch(error => {
                  console.error('Error:', error);
                  alert('An error occurred.');
              });
            } else {
              toggleElementDisplay("alertMessage", "")
            }
            
        });

</script>

{% endblock content %}