{% extends '_base.html' %}

{% block content %}
  <div class="row" style="width: 100%; margin:50px auto;">
    <div class="col-12 col-sm-1">
      <input type="time" class="form-control" id="startTimeEntry">
    </div>
    <div class="col-12 col-sm-6">
      <div class="row">
        <div class="col-12 col-sm-4" style="padding: 0px 5px">
          <input type="text" class="form-control" id="projectNumberInput" placeholder="Project Number">
        </div>
        <div class="col-12 col-sm-6" style="padding: 0px 5px">
          <input type="text" class="form-control" id="projectDescriptionInput" placeholder="Description">

        </div>
        <div class="col-12 col-sm-1" style="padding: 0px 5px">
          <button id="create-button" type="button" class="btn btn-outline-primary input-field" style="width:70px">Create</button>
          <button id="finish-button" type="button" class="btn btn-primary input-field" style="display:none; width:70px">Finish</button>
        </div>
      </div>
      <div id="taskEntryRow" class="row" style="margin-top: 10px; display: none">
        <div class="col-12 col-sm-10" style="padding: 0px 5px">
          <input type="text" class="form-control" id="taskdescription" placeholder="Task Description">
        </div>
        <div class="col-12 col-sm-1" style="padding: 0px 5px">
          <button id="taskSaveButton" type="button" class="btn btn-outline-primary input-field">Save</button>
        </div>

      </div>
      <div id="taskListRow" class="row" style="margin-top: 10px; display: none">

      </div>    
      
    </div>
    <div class="col-12 col-sm-3">
      <div id="recentProjectCard" class="card input-field">
          
        <div class="card-body">
          <p class="card-title"><small>Recent Projects</small></p>
          {% for project in recent_projects %}
          <div style="display: flex; justify-content: space-between;">
            <button 
              type="button" 
              class="btn btn-block btn-outline-secondary btn-sm recentProjectButton" 
              value="{{ project.number }}"
              data-description="{{ project.description }}"
              style="font-size: .7em;">
              {% if project.number and project.description %}
              PJT{{ project.number }}: {{ project.description }}
              {% elif project.number %}
              PJT{{ project.number }}
              {% elif project.description %}
              {{ project.description }}
              {% endif %}
            </button>
            <button 
              type="button" 
              class="btn btn-outline-danger btn-sm removeRecentButton" 
              data-bs-toggle="tooltip" 
              data-bs-placement="right" 
              title="Remove from list"
              style="font-size: 8px; margin: 2p; display: none"
              disabled>
              &#10005;
            </button>
          </div>
          {% endfor %}
       
        </div>
      </div>
    </div>
  </div>



      
      
      <ul>
        <li>Subtask 3 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
        </svg></li>
        <li>Subtask 2</li>
        <li>Subtask 1</li>
      </ul>
      

      <button id="" type="button" class="btn btn-outline-primary" >Finish</button>
      
 
   
</div>
<script>
    const CSRF_TOKEN = '{{ csrf_token }}';
    function updateTime() {
      const now = new Date();
      
      // Format the time as HH:MM
      const hours = String(now.getHours()).padStart(2, '0');     
      const minutes = String(now.getMinutes()).padStart(2, '0');
      currentTime = `${hours}:${minutes}`;
       // Set the value of the input field
      document.getElementById('startTimeEntry').value = currentTime;
    }

    function setDisableField(elementId, bool) {
      document.getElementById(elementId).disabled = bool
    }
    
   
    window.onload = updateTime()
    setInterval(updateTime, 1000);

    function convertTimeToDateTime(timeString) {
      // Get the current date
      const currentDate = new Date();
      
      // Extract the current year, month, and day
      const year = currentDate.getFullYear();
      const month = String(currentDate.getMonth() + 1).padStart(2, '0'); // Month is 0-indexed, so add 1
      const day = String(currentDate.getDate()).padStart(2, '0');

      // The time part (e.g., "15:32")
      const timeParts = timeString.split(':');
      const hour = timeParts[0];
      const minute = timeParts[1];

      // Combine current date with the given time
      const dateTimeString = `${year}-${month}-${day} ${hour}:${minute}`;

      return dateTimeString;
    }

    recentProjectButtons = document.getElementsByClassName("recentProjectButton")

    for (let i=0; i<recentProjectButtons.length; i++) {
      recentProjectButtons[i].addEventListener("click", populateProjectData)
    }

    function populateProjectData(e){
      descriptionInput = document.getElementById('projectDescriptionInput')
      document.getElementById('projectNumberInput').value = "PJT" + e.target.value
      descriptionInput.value = e.target.getAttribute("data-description")
    }

    document.getElementById('projectNumberInput').addEventListener("change", hideAlert)

    function hideAlert() {
      toggleElementDisplay("alertMessage", "none !important")
    }

    function isSixDigitNumber(projectNumber) {
      // Check if projectNumber is a string that represents exactly 6 digits
      return /^\d{6}$/.test(projectNumber);
    }

    function toggleElementDisplay(id, display) {
      document.getElementById(id).style.display = display
    }

    document.getElementById('taskSaveButton').addEventListener('click', function(e) {
      const timeEntryUuid = e.target.getAttribute('data-timeentryuuid')
      alert(timeEntryUuid)
    })

    function disableRecentButtons() {
      recentButtons = document.getElementsByClassName("recentProjectButton")
      for (let i=0; i<recentButtons.length; i++) {
        recentButtons[i].disabled=true
      }
    }

    document.getElementById('create-button').addEventListener('click', function() {
            const startTime = document.getElementById('startTimeEntry').value;
            const projectNumber = document.getElementById('projectNumberInput').value;
            const projectDescription = document.getElementById('projectDescriptionInput').value;
           
            const taskDescription = "";
            const data = {
                start_time: convertTimeToDateTime(startTime),
                project_number: projectNumber,
                project_description: projectDescription
            };

            fetch('/create-time-entry/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': CSRF_TOKEN,  // Include CSRF token if CSRF protection is enabled
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    if (data.projectNumber) {
                      setDisableField("projectNumberInput", true)
                    }     
                    document.getElementById("taskSaveButton").setAttribute('data-timeentryuuid', data.timeEntryUuid)
                    disableRecentButtons()
                    document.getElementById("create-button").style.display="none" 
                    document.getElementById("taskEntryRow").style.display = "";   
                    document.getElementById("taskListRow").style.display = "";  
                    document.getElementById('finish-button').style.display = "";    
                } else if (data.error) {
                    alert('Error: ' + data.error);  // Show error message
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred.');
            });
           
            
        });

</script>

{% endblock content %}