{% extends '_timekeeperbase.html' %}

{% block timekeeper_content %}

  <div class="row" style="width: 100%; margin:50px auto;">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-sm-2" style="padding: 25px 5px 0px 5px">
          <input type="text" class="form-control projectEntry" id="projectNumberInput" placeholder="Project Number">
        </div>
        <div class="col-12 col-sm-3" style="padding: 25px 5px 0px 5px">
          <input type="text" class="form-control projectEntry" id="projectDescriptionInput" placeholder="Description">

        </div>
        <div class="col-12 col-sm-2" style="padding: 0px 5px">
            <label for="startTimeEntry">Start Time</label>
            <input id="startTimeEntry" class="form-control" type="time" name="startTimeEntry">    
        </div>
        <div id="finishTimeDiv" class="col-12 col-sm-2" style="padding: 0px 5px; display: none">
          <label for="finishTimeEntry">Finish Time</label>
          <input id="finishTimeEntry" class="form-control" type="time" name="finishTimeEntry">    
        </div>
        <div class="col-12 col-sm-3" style="padding: 25px 5px 0px 5px">
          <button id="create-button" type="button" class="btn btn-outline-primary input-field" style="width:70px" disabled>Start</button>
            
              
          <button id="edit-button" type="button" class="btn btn-outline-secondary input-field" style="margin-right: 5px; display:none; width:70px" >Edit</button>
          <button id="finish-button" type="button" class="btn btn-primary input-field" style="display:none; width:70px">Finish</button>
          
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-12 col-sm-2" style="padding: 0px 5px">
          {% if recent_projects|length %}
      <div id="recentProjectCard" class="card input-field">
          
        <div class="card-body" style="background-color: #eaeaea;">
          <p class="card-title" style="color: #666; text-align: center; border-bottom: 1px solid #666"><small>Recent Projects</small></p>
          {% for project in recent_projects %}
          <div style="display: flex; justify-content: space-between;">
            <button 
              type="button" 
              class="btn btn-block btn-outline-secondary btn-sm recentProjectButton" 
              value="{{ project.number }}"
              data-description="{{ project.description }}"
              style="font-size: .65em; min-width: 70px">
              {% if project.number and project.description %}
              PJT{{ project.number }}: {{ project.description|truncatechars:25 }}
              {% elif project.number %}
              PJT{{ project.number }}
              {% elif project.description %}
              {{ project.description }}
              {% endif %}
            </button>
            <button 
              type="button" 
              class="btn btn-outline-danger btn-sm removeRecentButton" 
              data-bs-toggle="tooltip" 
              data-bs-placement="right" 
              title="Remove from list"
              style="font-size: 8px; margin: 2p; display: none"
              disabled>
              &#10005;
            </button>
          </div>
          {% endfor %}
       
        </div>
      </div>
      {% endif %}
        </div>
        <div class="col-12 col-sm-5" style="padding: 0px 5px">

          <input type="text" class="form-control taskField" id="taskdescription" placeholder="Task Description" style="display:none">
          <div id="completedTasks" style="margin-top: 10px;">
            <ul id="taskList" class="taskField" style="display:none">
              <li style="display:none">Subtask 3 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
              </svg></li>
            
            </ul> 
          </div>
        </div>
        <div class="col-12 col-sm-1" style="padding: 0px 5px">
          <button id="taskSaveButton" type="button" class="btn btn-primary input-fieldinput-field taskField" style="display:none">Save</button>
        </div>

      </div> 
      
    </div>
  </div> 
</div>

<script>

    const updateTime = {
      "startTimeEntry": true,
      "finishTimeEntry": true
    }

    const CSRF_TOKEN = '{{ csrf_token }}';

    document.getElementById("startTimeEntry").addEventListener("change", function(e) {
      if (e.target.value) {
        updateTime["startTimeEntry"] = false
      }
    })


    document.getElementById("finishTimeEntry").addEventListener("change", function(e) {
      if (e.target.value) {
        updateTime["finishTimeEntry"] = false
      }
    })

    function setDisableField(elementId, bool) {
      document.getElementById(elementId).disabled = bool
    }

    function updateTimeField(fieldname) {
        if (updateTime[fieldname]) {
            const currentTime = new Date();
            const hours = String(currentTime.getHours()).padStart(2, '0');  // Add leading 0 if necessary
            const minutes = String(currentTime.getMinutes()).padStart(2, '0');  // Add leading 0 if necessary
            const formattedTime = `${hours}:${minutes}`;
            
            document.getElementById(fieldname).value = formattedTime;
        }
    }

    // You can call the function to update the field when needed
    updateStartTime();
    setInterval(updateStartTime, 1000);
    setInterval(updateFinishTime, 1000);

    function updateStartTime() {
      updateTimeField("startTimeEntry")
    }

    function updateFinishTime() {
      updateTimeField("finishTimeEntry")
    }

    function displayTaskItems() {
      taskFields = document.getElementsByClassName("taskField")
      for (let i=0; i<taskFields.length; i++) {
        taskFields[i].style.display = ""
      }
    }

    function convertTimeToDateTime(timeString) {
      // Get the current date
      const currentDate = new Date();
      
      // Extract the current year, month, and day
      const year = currentDate.getFullYear();
      const month = String(currentDate.getMonth() + 1).padStart(2, '0'); // Month is 0-indexed, so add 1
      const day = String(currentDate.getDate()).padStart(2, '0');

      // The time part (e.g., "15:32")
      const timeParts = timeString.split(':');
      const hour = timeParts[0];
      const minute = timeParts[1];

      // Combine current date with the given time
      const dateTimeString = `${year}-${month}-${day} ${hour}:${minute}`;

      return dateTimeString;
    }

    recentProjectButtons = document.getElementsByClassName("recentProjectButton")

    for (let i=0; i<recentProjectButtons.length; i++) {
      recentProjectButtons[i].addEventListener("click", populateProjectData)
    }

    function populateProjectData(e){
      const projectNumber = e.target.value
      const projectDescription = e.target.getAttribute("data-description")
      if (projectNumber != "None") {
        document.getElementById('projectNumberInput').value = "PJT" + projectNumber
      } else {
        document.getElementById('projectNumberInput').value = ""
      }
      if (projectDescription) {
        document.getElementById('projectDescriptionInput').value = projectDescription
      } else {
        document.getElementById('projectDescriptionInput').value = ""
      }
      checkDisable()
    }

    function isSixDigitNumber(projectNumber) {
      // Check if projectNumber is a string that represents exactly 6 digits
      return /^\d{6}$/.test(projectNumber);
    }

    function disableRecentButtons() {
      recentButtons = document.getElementsByClassName("recentProjectButton")
      for (let i=0; i<recentButtons.length; i++) {
        recentButtons[i].disabled=true
      }
    }

    

    function enableRecentButtons() {
      recentButtons = document.getElementsByClassName("recentProjectButton")
      for (let i=0; i<recentButtons.length; i++) {
        recentButtons[i].disabled=false
      }
    }

    function formatDate(isoDate) {
      const date = new Date(isoDate);
      // Extract hours and minutes in local time
      const hours = date.getHours().toString().padStart(2, '0');  // Ensures 2-digit format
      const minutes = date.getMinutes().toString().padStart(2, '0');  // Ensures 2-digit format

      return `${hours}:${minutes}`;
    }

    function buildListItem(description, timeCreated) {
      const li = document.createElement("li");
      li.innerText = "(" + formatDate(timeCreated) + ") " + description;
      return li;
    }

    document.getElementById('taskSaveButton').addEventListener("click", function (e) {
      taskDescriptionInput = document.getElementById("taskdescription")
      const data = {
          timeEntryUuid: e.target.getAttribute('data-timeentryuuid'),
          task_description: taskDescriptionInput.value
        };
        fetch('/save-task/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': CSRF_TOKEN,  // Include CSRF token if CSRF protection is enabled
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
              taskDescriptionInput.value = ""
              li = buildListItem(data.taskDescription, data.timeCreated)
              tasklist = document.getElementById('taskList')
              tasklist.insertBefore(li, tasklist.firstChild);
                
            } else if (data.error) {
                alert('Error: ' + data.error);  // Show error message
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred.');
        });

    })

    const projectEntryFields = document.getElementsByClassName("projectEntry")

    for (let i=0; i<projectEntryFields.length; i++) {
      projectEntryFields[i].addEventListener("input", checkDisable)
    }

    function checkDisable() {
      descriptionEntry = document.getElementById("projectDescriptionInput").value
      numberEntry = document.getElementById("projectNumberInput").value
      createButton = document.getElementById("create-button")
      numberEntryDigits = numberEntry.match(/\d/g) || ""
      createButton.disabled = (numberEntryDigits.length < 6) && (descriptionEntry.length < 3)
       
    }

    document.getElementById('finish-button').addEventListener('click', function() {
      const timeEntryUuid = document.getElementById("taskSaveButton").getAttribute('data-timeentryuuid')
      const finishTime = document.getElementById('finishTimeEntry').value
      const data = {
            finish_time: convertTimeToDateTime(finishTime),
            timeEntryUuid
        };

        fetch('/complete-time-entry/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': CSRF_TOKEN,  // Include CSRF token if CSRF protection is enabled
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
          if (data.message) {
            alert(data.message)
            resetForm()
          }
          
        })
    })

    function resetForm() {
      document.getElementById('projectNumberInput').value = ""
      document.getElementById('projectNumberInput').disabled = false
      document.getElementById('projectDescriptionInput').value = ""
      document.getElementById('projectDescriptionInput').disabled = false
      document.getElementById('taskList').innerHTML = ""
      document.getElementById('create-button').style.display = ""; 
      document.getElementById('finish-button').style.display = "none"; 
      document.getElementById('edit-button').style.display = "none"; 
      document.getElementById("finishTimeDiv").style.display = "none";
      document.getElementById('startTimeEntry').disabled = false;
      updateTime["startTimeEntry"] = true;
      enableRecentButtons()
      checkDisable()
    }

    document.getElementById('create-button').addEventListener('click', function() {
        const startTime = document.getElementById('startTimeEntry').value
        const projectNumber = document.getElementById('projectNumberInput').value;
        const projectDescription = document.getElementById('projectDescriptionInput').value;
        
        const taskDescription = "";
        const data = {
            start_time: convertTimeToDateTime(startTime),
            project_number: projectNumber,
            project_description: projectDescription
        };

        fetch('/create-time-entry/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': CSRF_TOKEN,  // Include CSRF token if CSRF protection is enabled
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                if (data.projectNumber) {
                  setDisableField("projectNumberInput", true)
                  document.getElementById("projectNumberInput").value = "PJT" + data.projectNumber
                }     
                const startTimeEntry = document.getElementById("startTimeEntry")
                document.getElementById("taskSaveButton").setAttribute('data-timeentryuuid', data.timeEntryUuid)
                startTimeEntry.value = data.startTime
                startTimeEntry.disabled = true
                updateTime['startTimeEntry'] = false
                disableRecentButtons()
                document.getElementById('projectDescriptionInput').disabled = true;
                document.getElementById("finish-button").setAttribute("data-entryuuid", data.timeEntryUuid)
                document.getElementById("create-button").style.display="none" 
                document.getElementById('finish-button').style.display = ""; 
                document.getElementById('edit-button').style.display = ""; 
                document.getElementById("finishTimeDiv").style.display = "";
                displayTaskItems()
                
            } else if (data.error) {
                alert('Error: ' + data.error);  // Show error message
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred.');
        });
        
        
    });




    function showElementById(id) {
      toggleElementDisplay(id, '')
    }

    function hideElementById(id) {
      toggleElementDisplay(id, 'none')
    }

    function enableElementById(id) {
      toggleElementDisabled(id, false)
    }

    function disableElementById(id) {
      toggleElementDisabled(id, true)
    }

    function toggleElementDisplay(id, display) {
      document.getElementById(id).style.display = display;
    }

    function toggleElementDisabled(id, setToState) {
      document.getElementById(id).disabled = setToState;
    }

</script>

{% endblock timekeeper_content %}