{% extends '_timekeeperbase.html' %}

{% block timekeeper_content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">Project ID</th>
        <th scope="col">Project name</th>
        <th scope="col" style="text-align: center; width: 7%">Mon</th>
        <th scope="col" style="text-align: center; width: 7%">Tue</th>
        <th scope="col" style="text-align: center; width: 7%">Wed</th>
        <th scope="col" style="text-align: center; width: 7%">Thu</th>
        <th scope="col" style="text-align: center; width: 7%">Fri</th>
        <th scope="col" style="text-align: center; width: 7%">Sat</th>
        <th scope="col" style="text-align: center; width: 7%">Sun</th>
        <th scope="col" style="text-align: center; width: 7%">Total</th>
      </tr>
    </thead>
    <tbody>
        {% for project in projects %}
      <tr>
        <th scope="row" style="vertical-align: middle">{% if project.project.number %}PJT{{ project.project.number }}{% endif %}</th>
        <td style="vertical-align: middle">{{ project.project.description }}</td>
        {% for hours in project.hours %}

            <td style="text-align: center; padding: 0">
                {% if hours > 0 %}
                    <button class="btn btn-block btn-outline-secondary" style="width: 100%">
                        {{ hours }}
                    </button>                 
                {% endif %}
            </td>
        {% endfor %}
        <td style="text-align: center; padding: 0">
            <button class="btn btn-block btn-outline-dark" style="width: 100%; border: none" disabled>
                {{ project.total_hours }}
            </button>     
            
        </td>
      </tr>
      {% endfor %}
      <tr>
        <th scope="col" colspan="2" style="text-align: right; border: none"></th>
        {% for total in daily_totals %}
            <th scope="col" style="text-align: center;">{{ total }}</th>
        {% endfor %}
        
      
        <th scope="col" style="text-align: center;">{{ weekly_total }}</th>
      </tr>
    </tbody>
  </table>

{% endblock timekeeper_content %}